.section{
    padding-top: 40px;
    padding-bottom: 40px;
}
.main-heading{
    color: rgb(255, 18, 18);
    font-size: 26px;
}
.under-line{
    height: 4px;
    width: 4rem;
    background-color: orange;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer a{
    color: #fff;
    text-decoration: none;
}
.footer a:hover{
    color: gray;
}